.main-section-banner {
    background-image: url("https://t4.ftcdn.net/jpg/04/67/93/01/360_F_467930172_RdGhBPu1EB1ksit2xKJDcMxZP8jmGrLq.jpg");
    background-position: center;
    background-size: cover;
}